/*
colors: 
body: #EDF5E0;
dark-blue: #05386B
font-white/green: #EDF5E0;
white/nav: #FCFCFC;
*/

html, body{
    font-family: 'Roboto', sans-serif;
    background-color: #EDF5E0;
    font-size: 1em;
    height: 100%;
    color: #1C1C1C;
}

label{
    font-weight: bold;
}

.card{
    background-color: #FCFCFC;
}

.btn{
    background-color: #5CD894;
    color: #EDF5E0;
    border-radius: 5px;
}

.link-gn{
    font-weight: bold;
    color: #389583;
}

h2{
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 3em;
    color: #05386B;
    margin-bottom: 1em
}

h4{
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 1.5em;
    color: #389583;
}

hr{
    color: rgba(5, 56, 107, 0.3);
    border-top:1px solid rgba(5, 56, 107, 0.3);
    width: 80%;
}

/*   NAVBAR  */
.navbar {
    background-color: #FCFCFC;
    box-shadow: 0px -10px 10px 10px rgba(0,0,0,0.2);
}
.navbar-brand {
    width: 130px;
}

.navbar-toggler{
    border-color: #8DE4AF;
}

.navbar-toggler-icon{
    background-image: url("../img/Icons/menu.svg");
}

.nav-item .nav-link{
    color: #389583;
    font-family: 'Roboto', sans-serif;

}
.nav-item.aanmelden::before{
    content: "";
    border-left: 1px solid rgba(5, 56, 107, 0.2);
}
.nav-link.aanmelden, .btn-form-registratie {
    background-color: #5CD894;
    color: #EDF5E0;
    margin-left: 1em;
    border-radius: 5px;
}

/* LANDINGPAGE.PHP */
.intro, .awareness, .awards, .experts, .affection{
    position: relative;
    height: 100vh;
}

.intro{
    background-image: url("../img/Visuals/demo_application.svg"), url("../img/Visuals/fluid_bg.svg");
    background-repeat: no-repeat;
    background-size: 35em, cover;
    background-position: 4vw bottom ,bottom left;
}

.intro .container-xl, .intro .container-xl .row{
    height: 500px;
}

.intro_text.col-md-6{
    color: #EDF5E0;
}

h1{
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 4em;
    font-weight: bold;
}


/*  ASKCODE.PHP  */

.askCode.container{
    height: 100vh;
    background-image: url("../img/Visuals/ask_code.svg");
    background-repeat: no-repeat;
    background-size: 75%;
    background-position: bottom center;
    padding-top: 5em;
}

.btn-form-registratie{
    margin-left:0;
    padding-left: 20px;
    padding-right: 20px;
}

/* FOOTER */
.page-footer {
    height: 56px;
    background-color: #05386B;
}

.page-footer{
    font-family: 'Roboto', sans-serif;
    color: #EDF5E0;
    font-size: 16px;
}

.social-media-icon {
    stroke: #EDF5E0;
}

.page-footer .icon{
    margin: 0 0.5em;
}

@media (max-width: 768px){
    .nav-item.aanmelden::before{
        content: "";
        border-left: none;
    }

    .nav-link.aanmelden{
        margin-left: 0;
    }

    .navbar .collapse{
        flex-direction: row;
    }
}